@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
      url("../fonts/RobotoBold/RobotoBold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
      url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
      url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

.site-wrapper {
  min-width: 1200px;
  background: #849d8f url(../img/slider1.png) no-repeat 50% 0;
}

.container {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.map-container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.main-header {
  font-size: 0;
}

.main-header-catalog {
  margin-bottom: 28px;
}

.main-header .logo {
  float: left;
  margin-right: 24px;
  padding-top: 9px;
}

.main-header .logo a {
  display: block;
  line-height: 0;
}

.main-header .main-navigation {
  float: left;
  width: 449px;
  padding-top: 23px;
  font-size: 16px;
}

.main-navigation .main-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-menu-list > .main-menu-item {
  position: relative;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}

.main-menu-list > .main-menu-item a {
  display: block;
  padding: 9px 13px 10px 14px;
}

.main-menu-list > .main-menu-item > a {
  text-decoration: underline;
}

.main-menu-list > .main-menu-item a:hover {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 20px;
  text-decoration: none;
}

.main-menu-list > .main-menu-item a:active {
  color: #323232;
  border-radius: 20px;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.4);
  background-color: #ededed;
  text-decoration: none;
}

.main-menu-list > .main-menu-item:hover .inner-menu-list {
  display: block;
}

.main-menu-item .inner-menu-list {
  display: none;
  position: absolute;
  top: 45px;
  left: -7px;
  z-index: 10;
  width: 143px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background: #f8f7f4;
}

.inner-menu-list .inner-menu-item:first-child {
  font-weight: 700;
  border-bottom: 1px solid #d1d1ce;
}

.inner-menu-list .inner-menu-item a:hover {
  border-radius: 0;
  background-color: #fbded8;
}

.inner-menu-list .inner-menu-item a:active {
  border-radius: 0;
  background-color: #f6b5a5;
}

.inner-menu-list .inner-menu-item:last-child {
  padding-bottom: 0;
}

.inner-menu-list .inner-menu-item a {
  display: block;
  padding: 8px 0 10px 20px;
  text-align: left;
  color: #323232;
}

.main-header .user-block {
  float: right;
  width: 300px;
  margin-bottom: 20px;
  padding-top: 23px;
  font-size: 0;
}

.user-block > div {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-block a {
  display: block;
}

.user-block li:hover {
  background-color: #f8f7f4;
  border-radius: 20px;
}

.user-block .search-block {
  position: relative;
  width: 33px;
  height: 33px;
  margin-right: 10px;
  padding: 3px;
  border-radius: 50%;
  font-size: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2) url(../img/icons/search-icon.png) no-repeat 50% 50%;
}

.search-block:hover {
  background: #f8f7f4 url(../img/icons/search-icon-dark.png) no-repeat 50% 50%;
}

.search-block .search-line {
  display: none;
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 10;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.search-block:hover .search-line {
  display: block;
}

.form-field-block {
  position: relative;
}

.search-block input[type="search"] {
  width: 311px;
  height: 44px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.search-block label {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

input[type="search"]:focus label { /* не работает */
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.user-block .login-block {
  position: relative;
  margin-right: 9px;
  padding: 10px 17px 9px 44px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2) url(../img/icons/login-icon.png) no-repeat 16px 12px;
}

.user-block .login-block:hover {
  background: #f8f7f4 url(../img/icons/login-icon-dark.png) no-repeat 16px 12px;
}

.user-block .login-block:hover a {
  color: #323232;
}

.login-block .login-field {
  display: none;
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 10;
  width: 277px;
  padding: 20px 17px 22px 19px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.login-block:hover .login-field {
  display: block;
}

.login-block input[type="email"],
.login-block input[type="password"] {
  width: 241px;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.login-block label {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.login-block .btn-login {
  padding: 15px 25px 14px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}

.login-block .help-block {
  float: right;
  margin-left: 20px;
}

.login-block .help-block a {
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #323232;
  text-decoration: underline;
}

.user-block .cart-block {
  position: relative;
  padding: 10px 34px 9px 45px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2) url(../img/icons/cart-icon.png) no-repeat 16px 12px;
}

.user-block .cart-block:hover {
  background: #f8f7f4 url(../img/icons/cart-full-icon.png) no-repeat 16px 12px;
}

.user-block .cart-block:hover a {
  color: #323232;
}

.cart-block .cart-full {
  display: none;
  width: 540px;
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 10;
  padding: 20px 15px 16px 21px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  color: #323232;
  background-color: #f8f7f4;
}

.cart-block:hover .cart-full {
  display: block;
}

.cart-full .cart-content button[type="button"] {
  width: 11px;
  height: 11px;
  margin-right: 14px;
  font-size: 0;
  vertical-align: middle;
  background: url(../img/icons/cross-icon-cart.png) no-repeat;
  border: none;
  cursor: pointer;
}

.cart-full .cart-content {
  border-collapse: collapse;
  margin-bottom: 16px;
  border-bottom: 1px solid #999999;
}

.cart-full .cart-content img {
  margin-right: 14px;
  border-radius: 50%;
}

.cart-full .cart-content a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: #323232;
}

.cart-full .cart-content a:hover {
  text-decoration: underline;
  color: #e84d37;
}

.cart-full .cart-content a:active {
  text-decoration: underline;
  color: #e84d37;
}

.cart-full .cart-content span {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.cart-full .cart-content .item-price {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
}

.cart-full .cart-sum {
  margin-left: 420px;
  margin-bottom: 17px;
}

.cart-block .cart-order {
  padding: 13px 15px 13px 14px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.cart-block .cart-full > a {
  color: #fefefe;
}

.main-header .header-info-block {
  position: absolute;
  top: 75px;
  right: 27px;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.main-header .header-info-block a {
  font-size: 22px;
  line-height: 24px;
}

.slider-block {
  position: relative;
  margin-bottom: 41px;
  padding-top: 314px;
  text-align: center;
}

.slider2,
.slider3 {
  display: none;
}

.slider .secondary-heading {
  width: 700px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 29px;
  font-size: 60px;
  line-height: 61px;
}

.btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  -webkit-box-shadow: 0px 2px 2px 0px #ac1000;
          box-shadow: 0px 2px 2px 0px #ac1000;
}

.btn:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background: linear-gradient(0deg, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: 0px -2px 2px 0px #ac1000;
          box-shadow: 0px -2px 2px 0px #ac1000;
}

.slider .btn-give-both {
  display: inline-block;
  padding: 17px 43px 16px 41px;
  font-size: 32px;
  line-height: 42px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  vertical-align: top;
}

.slider-manager {
  position: absolute;
  bottom: 21px;
  z-index: 10;
  font-size: 0;
}

.slider-manager label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-manager:last-child {
  margin-right: 0;
}

.slider-manager label:first-child { /* не работает */
  background-color: #ffffff;
}

.slider-manager input[type="radio"] {
  display: none;
}

.features {
  font-size: 0;
}

.features .features-item {
  display: inline-block;
  width: 560px;
  min-height: 229px;
  margin-right: 26px;
  margin-bottom: 40px;
  padding: 15px 21px 23px 20px;
  font-size: 18px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}

.features .features-item:first-child {
  background-color: #9d0e34;
  background-image: url(../img/raspberry.jpg);
  background-repeat: repeat;
}

.features .features-item:last-child {
  margin-right: 0;
  background-color:#5e3623;
  background-image: url(../img/chocolate.jpg);
  background-repeat: repeat;
}

.features-item .secondary-heading {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
  font-size: 35px;
  line-height: 1.2;
}

.features-item p {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 30px;
}

.features-item .btn-want {
  float: right;
  padding: 15px 24px 14px 22px;
  font-weight: 700;
  background: -webkit-gradient(linear, left bottom, left top, from(#ca3824), to(#f26843));
  background: linear-gradient(0deg, #ca3824 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
          box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
}

.catalog-items-block {
  font-size: 0;
}

.catalog-items-block-catalog {
  margin-bottom: 83px;
}

.catalog-items-block .catalog-item {
  position: relative;
  display: inline-block;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
  font-size: 16px;
  vertical-align: top;
}

.catalog-items-block .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-items-block .catalog-hit::before {
  position: absolute;
  content: url(../img/icons/hit.png);
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item:hover img {
  position: relative;
  z-index: 20;
}

.catalog-item .secondary-heading {
  margin: 0;
  padding: 5px 5px 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

.catalog-item .secondary-heading a:hover {
  position: relative;
  display: block;
  z-index: 30;
  text-decoration: underline;
  color: #ffbc9e;
}

.catalog-item .secondary-heading a:active {
  position: relative;
  display: block;
  z-index: 30;
  text-decoration: underline;
  color: #ffbc9e;
}

.catalog-item .price {
  position: absolute;
  top: 210px;
  z-index: 30;
}

.catalog-item span {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item .catalog-item-currency {
  font-size: 43px;
}

.catalog-item .catalog-item-weight {
  font-size: 30px;
}

.catalog-item .fastlook {
  display: none;
  position: absolute;
  top: -6px;
  left: -13px;
  right: -14px;
  padding: 333px 33px 22px 45px;
  z-index: 10;
  font-size: 0;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.3);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover .fastlook {
  display: block;
}

.catalog-item .btn-fastlook {
  display: inline-block;
  padding: 13px 17px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  vertical-align: top;
  color: #fefefe;
  -webkit-box-shadow: 0px 1px 2px 0px #ac1000;
          box-shadow: 0px 1px 2px 0px #ac1000;
}

.description {
  font-size: 0;
  margin-bottom: 40px;
  padding: 28px 33px 26px 21px;
  color: #323232;
  background: url(../img/back-seo-block.png) 50% 50%;
  border-radius: 20px;
}

.description .main-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.description .description-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description-list p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.description-list li {
  position: relative;
  display: inline-block;
  width: 530px;
  margin-right: 34px;
  padding: 16px 0 0 56px;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.description-list li:nth-child(2n) {
  width: 527px;
  margin-right: 0;
  padding-top: 17px;
  padding-left: 57px;
}

.description-list li::before {
  position: absolute;
  top: 0;
  left: 0;
}

.description-list .ice-cream::before {
  content: url(../img/icons/ice-cream-icon.png);
}

.description-list .cow::before {
  content: url(../img/icons/cow-icon.png);
}

.description-list .plant::before {
  content: url(../img/icons/plant-icon.png);
}

.description-list .temp::before {
  content: url(../img/icons/temp-icon.png);
}

.add-info {
  font-size: 0;
}

.add-info .info-block {
  display: inline-block;
  width: 560px;
  min-height: 220px;
  margin-right: 26px;
  margin-bottom: 39px;
  padding: 26px 21px 23px 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}

.news .secondary-heading {
  margin: 0;
  padding: 0;
  padding-right: 200px;
  padding-bottom: 50px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  text-decoration: underline;
}

.news .secondary-heading a {
  color: #323232;
}

.news .secondary-heading a:hover {
  text-decoration: underline;
  color: #e84d37;
}

.news .secondary-heading a:active {
  text-decoration: underline;
  color: #e84d37;
}

.add-info .news {
  background-color: #ffffff;
  background-image: url(../img/news-block-pic.jpg);
  background-repeat: repeat;
}

.add-info .subscription {
  margin-right: 0;
  padding-bottom: 38px;
  font-weight: 400;
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.add-info .subscription p {
  margin-top: 0;
  margin-bottom: 38px;
}

.subscription input[type="email"] {
  width: 368px;
  height: 44px;
  margin-right: 6px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.subscription label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.add-info .btn-submit {
  padding: 14px 19px 13px;
  font-size: 18px;
  font-weight: 700;
  color: #fefefe;
}

.main-breadcrumbs {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-breadcrumbs li {
  display: inline-block;
  padding-right: 30px;
  vertical-align: top;
}

.main-menu-header .main-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 41px;
}

.main-breadcrumbs a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.forms-block {
  font-size: 0;
  margin-bottom: 34px;
}

.forms-block .pref-block {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 14px;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: top;
  border: none;
}

.pref-block legend {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
}

.pref-block select,
.pref-block .scale,
.pref-block ul {
  height: 37px;
  padding: 7px 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}

.forms-block .preferences select {
  color: #ffffff;
}

.forms-block .fat-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.forms-block .fat-content label {
  margin-right: 18px;
}

.forms-block .fat-content:last-child {
  margin-right: 0;
}

.forms-block .fat-content input[type="radio"] {
  display: none;
}

.forms-block .fat-content label:before {
  content: "";
  width: 21px;
  height: 22px;
  margin-right: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.forms-block .filling {
  margin-bottom: 0;
}

.forms-block .filling label {
  margin-right: 24px;
}

.forms-block .filling:last-child {
  margin-right: 0;
}

.forms-block .filling input[type="checkbox"] {
  display: none;
}

.forms-block .filling label:before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 13px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.forms-block .filling ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.forms-block .fat-content li,
.filling li {
  display: inline-block;
  vertical-align: top;
}

.forms-block .btn-catalog-apply {
  display: inline-block;
  width: 144px;
  height: 37px;
  vertical-align: top;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.19);
  cursor: pointer;
}

.page-numbers {
  float: right;
  width: 300px;
  margin-bottom: 50px;
  font-size: 0;
}

.page-numbers ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-numbers li {
  display: inline-block;
  width: 27px;
  margin-right: 12px;
  vertical-align: middle;
}

.page-numbers li:last-child {
  margin-right: 0;
}

.page-numbers a {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 50%;
}

.page-numbers a:hover {
  background-color: rgba(255,255,255,0.2);
}

.page-numbers a:active {
  color: #323232;
  background-color: #ffffff;
}

.page-numbers:first-child,
.page-numbers:last-child {
  font-size: 0;
}

.map-info-block {
  width: 1200px;
  height: 430px;
  padding-top: 63px;
  padding-right: 27px;
  background: #f6f0d8 url(../img/map.png) repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-info-block .contacts {
  float: right;
  padding: 25px 25px 31px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-info-block .contacts p {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.map-info-block .contacts span,
.map-info-block .contacts a {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.map-info-block .btn-feedback {
  padding: 13px 28px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}

.main-footer {
  padding-top: 37px;
  padding-bottom: 31px;
}

.main-footer-catalog {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.main-footer .footer-social {
  float: left;
  width: 230px;
  margin-right: 180px;
}

.main-footer .social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list li {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.social-list .social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 17px;
  font-size: 0;
  vertical-align: top;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 1px;
          box-shadow: 0 0 5px 1px;
}

.social-list li:last-child {
  margin-right: 0;
}

.social-list .social-btn:hover {
  opacity: 1;
}

.social-list .social-btn:active {
  opacity: 1;
  -webkit-box-shadow:
              inset 0 2px 5px 1px rgba(50,50,50,0.4),
              0 2px 5px 1px;
          box-shadow:
              inset 0 2px 5px 1px rgba(50,50,50,0.4),
              0 2px 5px 1px;
}

.social-list .social-btn-tw {
  background: url(../img/icons/tw-shadow.png) no-repeat 50% 50%;
  opacity: 0.8;
}

.social-list .social-btn-inst {
  background: url(../img/icons/inst-shadow.png) no-repeat 50% 50%;
  opacity: 0.8;
}

.social-list .social-btn-fb {
  background: url(../img/icons/fb-shadow.png) no-repeat 50% 50%;
  opacity: 0.8;
}

.social-list .social-btn-vk {
  background: url(../img/icons/vk-shadow.png) no-repeat 50% 50%;
  opacity: 0.8;
}

.main-footer .footer-menu {
  float: left;
  width: 400px;
  font-size: 13px;
  line-height: 18px;
}

.main-footer .footer-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-list li {
  float: left;
  width: 171px;
}

.footer-menu-list a {
  display: inline;
  padding-left: 22px;
  font-weight: 400;
  text-align: left;
  text-decoration: underline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-menu-list li:nth-child(2n) a {
  padding-left: 0;
}

.footer-menu-list li:first-child a {
  font-weight: 700;
  background: url(../img/icons/heart-icon.png) no-repeat 0 50%;
}

.footer-menu-list a:hover {
  text-decoration: underline;
  color: #ffbc9e;
}

.footer-menu-list a:active {
  text-decoration: underline;
  color: #ffbc9e;
}

.footer-copyright {
  float: right;
  width: 200px;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright img {
  display: block;
  line-height: 0;
}

.footer-copyright a:hover {
  text-decoration: underline;
  color: #ffbc9e;
}

.footer-copyright a:active {
  text-decoration: underline;
  color: #ffbc9e;
}

.feedback-modal-window {
  display: none;
  position: fixed;
  top: 337px;
  left: 602px;
  z-index: 50;
  width: 478px;
  padding: 20px 25px 27px 24px;
  color: #323232;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.feedback-modal-window .modal-window-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 17px;
  font-size: 0;
  border: 0;
  background: url(../img/icons/cross-icon.png);
  cursor: pointer;
}

.feedback-modal-window .secondary-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-modal-window input[type="text"],
.feedback-modal-window input[type="email"] {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback-modal-window textarea {
  width: 428px;
  height: 155px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback-modal-window label {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.feedback-modal-window .btn-submit-modal {
  float: right;
  padding: 14px 24px 13px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}
